body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b3cde0; /* Pastel blue background */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #b3cde0;
}

.hero-section {
    background-image: url('https://www.childrens.com/wps/wcm/connect/childrenspublic/81924136-875a-44c9-b7de-5bdd7282336f/Shutterstock_338038565_800x480.jpg?MOD=AJPERES&CVID='); /* Replace with your image link */
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    padding: 100px 20px;
}

.content {
    padding: 20px;
    text-align: center; /* Center-align content */
}

.facts-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.summary-image {
    max-width: 500px;
    margin: 0 20px;
}

.summary-text {
    max-width: 600px;
    text-align: center; /* Center-align text in the summary */
}

.summary-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.summary-text p {
    font-size: 24px; /* Larger font size for paragraphs */
    line-height: 1.6;
}

.facts-list {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
    text-align: center; 
    list-style-type: none;/* Align bullet points to the left */
}

.warning-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.warning-item {
    text-align: center;
    width: 30%;
}

.warning-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.footer a {
    color: #b3cde0;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
